<div class="jumbotron">
  <h1>Get insights to your data</h1>
  <p class="lead">
    <img src="images/data-visualization.jpg" alt="I'm Glass"><br>
    <!-- Always a pleasure scaffolding your apps. -->
  </p>
  <div ng-show="isImport == false">
	  <p>
	  	<a class="btn btn-lg btn-success" ng-href="#/analyze">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
	  </p>
  </div>
  <div ng-show="isImport == true">
  	<p>
		<h3>Loading visualizer data ... {{dataFileName}}</h3>
		<progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} 
			<i ng-show="showWarning">!!! Watch out !!!</i>
		</progressbar>
	</p>
  </div>
</div>
